In [7]:
import sqlite3
from datetime import datetime, timedelta
import random

In [8]:
# Соединение с базой данных
conn = sqlite3.connect('test_tasks.sqlite')
cursor = conn.cursor()

In [3]:
# Удаление таблиц, если они уже существуют
cursor.execute('DROP TABLE IF EXISTS vk_employees')
cursor.execute('DROP TABLE IF EXISTS vk_departments')

# Создание таблиц
cursor.execute('''
CREATE TABLE IF NOT EXISTS vk_departments (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS vk_employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    dep_id INTEGER,
    manager_id INTEGER,
    salary INTEGER,
    FOREIGN KEY (dep_id) REFERENCES vk_departments(id),
    FOREIGN KEY (manager_id) REFERENCES vk_employees(id)
)
''')

# Вставка данных в таблицу vk_departments
departments = [('Finance',), ('Operations',), ('Deployment',)]
cursor.executemany('INSERT INTO vk_departments (name) VALUES (?)', departments)

# Вставка данных в таблицу vk_employees
employee_names = [f'Employee_{i}' for i in range(1, 31)]
department_ids = [1, 2, 3]
salaries = [random.randint(500, 5000) for _ in range(30)]

# Назначение менеджеров для департаментов
managers = []
for dep_id in department_ids:
    name = employee_names.pop(0)
    salary = salaries.pop(0)
    managers.append((name, dep_id, None, salary))

cursor.executemany('INSERT INTO vk_employees (name, dep_id, manager_id, salary) VALUES (?, ?, ?, ?)', managers)

# Получение ID менеджеров
cursor.execute('SELECT id, dep_id FROM vk_employees WHERE manager_id IS NULL')
manager_ids = {row[1]: row[0] for row in cursor.fetchall()}  # {dep_id: manager_id}

# Вставка остальных сотрудников
employees = []
for i in range(27):  # У нас осталось 27 сотрудников
    name = employee_names.pop(0)
    dep_id = random.choice(department_ids)
    manager_id = manager_ids[dep_id]
    salary = salaries.pop(0)
    employees.append((name, dep_id, manager_id, salary))

cursor.executemany('INSERT INTO vk_employees (name, dep_id, manager_id, salary) VALUES (?, ?, ?, ?)', employees)

# Сохранение изменений
conn.commit()

In [4]:
# Удаление таблицы, если она уже существует
cursor.execute('DROP TABLE IF EXISTS vk_purchases')

# Создание таблицы
cursor.execute('''
CREATE TABLE IF NOT EXISTS vk_purchases (
    user_id INTEGER,
    user_gender TEXT,
    items INTEGER,
    price INTEGER
)
''')

# Генерация данных
user_ids = [101, 102, 103, 104, 105]
genders = ['f', 'female', 'm', 'male']
purchases = []

for _ in range(50):
    user_id = random.choice(user_ids)
    user_gender = random.choice(genders)
    items = random.randint(0, 5)
    price = items * 100 if items > 0 else 0
    purchases.append((user_id, user_gender, items, price))

# Вставка данных в таблицу
cursor.executemany('INSERT INTO vk_purchases (user_id, user_gender, items, price) VALUES (?, ?, ?, ?)', purchases)

# Сохранение изменений
conn.commit()

In [9]:
# Удаление таблицы, если она уже существует
cursor.execute('DROP TABLE IF EXISTS vk_transactions')

# Создание таблицы
cursor.execute('''
CREATE TABLE IF NOT EXISTS vk_transactions (
    transaction_ts DATETIME,
    user_id INTEGER,
    transaction_id INTEGER,
    item TEXT
)
''')

# Генерация данных
user_ids = [13811335, 3378024101]
items = ['glove', 'hat', 'vase', 'cup', 'mirror', 'dress', 'tie']
base_time = datetime(2016, 6, 17, 12, 0, 0)
transactions = []

for _ in range(50):
    transaction_ts = base_time + timedelta(hours=random.randint(0, 72), minutes=random.randint(0, 59), seconds=random.randint(0, 59))
    user_id = random.choice(user_ids)
    transaction_id = random.randint(1000000000, 9999999999)
    item = random.choice(items)
    transactions.append((transaction_ts, user_id, transaction_id, item))

# Вставка данных в таблицу
cursor.executemany('INSERT INTO vk_transactions (transaction_ts, user_id, transaction_id, item) VALUES (?, ?, ?, ?)', transactions)

# Сохранение изменений
conn.commit()