In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Housing.csv")

In [4]:
df.sample(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
19,8855000,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished
504,2653000,3185,2,1,1,yes,no,no,no,yes,0,no,unfurnished
374,3640000,3520,2,2,1,yes,no,yes,no,no,0,no,semi-furnished
288,4200000,5040,3,1,2,yes,no,yes,no,yes,0,no,unfurnished
12,9310000,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished

In [20]:
df.loc[10:14, "area":"stories"]

     area  bedrooms  bathrooms  stories
10  13200         3          1        2
11   6000         4          3        2
12   6550         4          2        2
13   3500         4          2        2
14   7800         3          2        2

In [26]:
df.iloc[10:14, 1:5]

     area  bedrooms  bathrooms  stories
10  13200         3          1        2
11   6000         4          3        2
12   6550         4          2        2
13   3500         4          2        2

In [38]:
df.query("bedrooms in [4, 5]")["price"]

0      13300000
1      12250000
3      12215000
4      11410000
6      10150000
         ...
487     2870000
488     2852500
523     2380000
534     2100000
536     1960000
Name: price, Length: 105, dtype: int64

In [39]:
df.sample(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
79,6650000,6000,3,2,3,yes,yes,no,no,yes,0,no,furnished
538,1890000,3649,2,1,1,yes,no,no,no,no,0,no,unfurnished
291,4200000,2953,3,1,2,yes,no,yes,no,yes,0,no,unfurnished
293,4200000,4410,2,1,1,no,no,no,no,no,1,no,unfurnished
302,4200000,2145,3,1,3,yes,no,no,no,no,1,yes,unfurnished

In [49]:
df.groupby(["bedrooms", "bathrooms"]).agg(new_col=("price", "sum")).reset_index()

    bedrooms  bathrooms    new_col
0          1          1    5425000
1          2          1  460397000
2          2          2   33558000
3          3          1  999820500
4          3          2  459328940
5          3          3   27230000
6          4          1  197844500
7          4          2  305231500
8          4          3   29001000
9          4          4   12250000
10         5          1   19985000
11         5          2   21623000
12         5          3   16590000
13         6          1    3500000
14         6          2    6083000

In [68]:
df.pivot_table(index="bedrooms", columns="airconditioning", values="price", aggfunc=["mean"], margins=True).round(-3)

                      mean
airconditioning         no        yes        All
bedrooms
1                2712000.0        NaN  2712000.0
2                3509000.0  4269000.0  3632000.0
3                4354000.0  6038000.0  4955000.0
4                4864000.0  6921000.0  5730000.0
5                5820000.0  5819000.0  5820000.0
6                4792000.0        NaN  4792000.0
All              4192000.0  6013000.0  4767000.0

In [72]:
df["airconditioning"].value_counts(dropna=False, normalize=True)

airconditioning
no     0.684404
yes    0.315596
Name: proportion, dtype: float64

In [ ]:
%%sql

In [77]:
pd.crosstab(df["bedrooms"], df["airconditioning"])

airconditioning   no  yes
bedrooms
1                  2    0
2                114   22
3                193  107
4                 55   40
5                  7    3
6                  2    0

In [83]:
pd.crosstab(df["bedrooms"], df["airconditioning"], margins=True).round(3) * 100

airconditioning     no    yes    All
bedrooms
1                  200      0    200
2                11400   2200  13600
3                19300  10700  30000
4                 5500   4000   9500
5                  700    300   1000
6                  200      0    200
All              37300  17200  54500